<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= order.email_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= order.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Order email:</strong>
    <%= order.order_email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= order.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= order.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Order address:</strong>
    <%= order.order_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= order.country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= order.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Order status:</strong>
    <%= order.order_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mobile phone:</strong>
    <%= order.mobile_phone %>
  </div>
</div>
