<%
=begin%>
 <div id="<%= dom_id order_detail %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Order:</strong>
    <%= order_detail.order_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Varain detail:</strong>
    <%= order_detail.varain_detail_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Qauntity:</strong>
    <%= order_detail.qauntity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= order_detail.price %>
  </div>
</div> 
<%
=end%>
